<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @ping.status %>
</p>

<p>
  <b>Response length:</b>
  <%= @ping.response_length %>
</p>

<p>
  <b>Website:</b>
  <%= @ping.website_id %>
</p>


<%= link_to 'Edit', edit_ping_path(@ping) %> |
<%= link_to 'Back', pings_path %>
